@import "../../../bower_components/sassy-maps/sass/memo.scss";

// BREAKPROINT
@import "../../../bower_components/breakpoint-sass/stylesheets/breakpoint.scss";


// VARIABLES AND MIXINS
@import "variables.scss";
@import "../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";





/* INSERT HERE THE EXTEND CLASS */

%ul{
	list-style: none;
	padding: 0;
	margin: 0;
}