.footer{
	background-color: $color-dark;
	padding-top: 2rem;
	margin-top: 2rem;

	&_item{
		lost-column:1;
		margin-bottom: 3rem;
		@media (min-width: 768px) {
			lost-column:1/3;
		}

		&_title{
			margin: 0 0 1.5rem;
			color: $color-white;
			font-size: 1.8rem;
			border-bottom: 3px solid $color-light;
			padding-bottom: 1rem;
			width: 100%;
		}
	}
}

.footer-nav_item{
	color: $color-white;
	font-size: 1.4rem;
	padding: .5rem;	
	display: block;
	color: $color-white;
}

.footer-credits{
	background-color: #262626;
	color: $color-white;
	font-size: 1.2rem;
}