.header{}

.header_top{
	background-color: $color-grey-dark;

	.wrap{
		justify-content: space-between;
		align-items: center;
	}
}

.nav-top{
	margin-bottom: 1rem;
	@media (min-width: 480px) {
		margin-bottom: 0;
	}

	&_item{
		color: $color-white;
		margin-right: 1rem;
		font-size: 1.2rem;

		&:last-of-type{
			margin-right: 0;
		}
	}
}

.user-login{
	color: $color-white;
	font-weight: bold;
	font-size: 1.2rem;

	&_label{
		color: $color-light;
	}

	&_logout{
		color: $color-white;
		border-left: 2px solid $color-white;
		padding-left: .5rem;
	}
}


.header_main{
	background: transparent url('$img-path/header_bg.jpg') 0 0 repeat-x;
	
	.wrap{
		lost-flex-container: column;
		@media (min-width: 768px){
			lost-flex-container: row;
			justify-content: space-between;
			min-height: 100px;
			align-items: center;
		}
	}

	&_inputs{
		width: 100%;
		@media (min-width: 768px){
			lost-column:2/3;
			max-width: 620px;
			lost-flex-container:row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.logo{
	font-size: 2.2rem;
	color: $color-black;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	@media (min-width: 768px){
		lost-column:1/3;
		text-align: left;
	}
}


.search{
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
	@media (min-width: 768px){
		lost-column:2/3;
		margin-bottom: 0;
	}

	.input{
		background-color: $color-grey-light;
		color: $color-grey;
		border-radius: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;

	}

	.btn-in{
		border: none;
		background-color: $color-dark;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		padding: .7rem;
		cursor: pointer;

		position: absolute;
		right: 0;

		i{
			font-size: 3rem;
			color: $color-white;
		}
	}
}


.cart{
	max-width: 150px;
	position: relative;
	background-color: $color-grey-light;
	color: $color-grey;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 50px;
	height: 47px;
	@media (min-width: 768px){
		lost-column:1/3;
	}

	&_btn{
		border: none;
		background-color: $color-dark;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		padding: .7rem;

		position: absolute;
		left: 0;

		i{
			font-size: 3rem;
			color: $color-white;
		}

		.badge{
			position: absolute;
			background-color: #ff3d3d;
			color: $color-white;
			width: 15px;
			height: 15px;
			text-align: center;
			
			font-size: 1rem;
			border-radius: 50%;
			top: 5px;
			right: 5px;
		}
	}

	&_label{
		font-size: 1.4rem;
		color: #02334b;
		display: inline-block;
		margin: 1.2rem 1rem 0;
	}
}



.menu-container{
	background-color: $color-dark;

	.wrap{
		padding: 0;
	}
}


.menu-hamburguer-checkbox{
	position: absolute;
	display: none;

	&:checked ~ .menu{
		display: block;
	}

	&:checked ~ .menu-hamburguer-overlay{
		display: block;
	}
}
.menu-hamburguer-label{
	display: block;
	width: 100%;
	margin: .5rem 1rem;
	cursor: pointer;
	@media (min-width: 768px){
		display: none;
	}
	
	i{
		color: $color-white;
		font-size: 3rem;
	}
}
.menu-hamburguer-overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	display: none;
}


.menu{
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: relative;
	z-index: 2;
	@media (min-width: 768px){
		display: block;
	}

	&_item{
		display: block;
		@media (min-width: 768px){
			display: inline-block;
		}

		&_link{
			color: $color-white;
			font-size: 1.5rem;
			display: block;
			padding: .5rem 1rem;
			@media (min-width: 768px){
				padding-top: 1rem;
				padding-bottom: 1rem;
			}	
		}
	}
	&_item[data-submenu]{
		padding-bottom: 0;
		@media (min-width: 768px){
			position: relative;

			&:hover .submenu{
				display: block;
			}
		}
	}
}
.submenu{
	list-style: none;
	margin: 0;
	padding: 0 0 0 2rem;
	min-width: 190px;
	display: none;
	@media (min-width: 768px){
		position: absolute;
		top: 100%;
		left: 0;
		background-color: $color-dark;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.menu_item{
		font-size: 1.3rem;		
	}

	.menu_item_link{
		@media (min-width: 768px){
			margin-top: 0;
		}	
	}
}