@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
    font-weight: 800;
}


@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?xpd0kn');
    src:    url('../fonts/icomoon.eot?xpd0kn#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xpd0kn') format('truetype'),
        url('../fonts/icomoon.woff?xpd0kn') format('woff'),
        url('../fonts/icomoon.svg?xpd0kn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e903";
}
.icon-arrow:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-newsletter:before {
    content: "\e902";
}
.icon-menu:before {
    content: "\e904";
}

