@lost flexbox flex;

*,*:before,*:after{
	box-sizing: border-box;
}

html{
	height: 100%;
	font-size: $font-size-base;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font;
	font-size: 1.6rem;
	height: 100%;
}

a{
	text-decoration: none;
}

p{
	
}

img{
	max-width: 100%;
	height: auto;
}

.wrap{
	lost-center: 1170px;
	padding: 1rem;
}

