// images
$img-path: ../../dist/images;

// colors
$color-light: #00923f;
$color-dark: #555;

$color-white: #fff;
$color-black: #000;

$color-grey: #a4a4a4;
$color-grey-dark: #242424;
$color-grey-light: #e6e6e6;


// font
$font: 'Open Sans', 'sans-serif';
$font-size-base: 10px;
$font-size: 1rem;
$font-line-height:1.2;

//Margin and Padding
$margin-base:1rem;
$padding-base:1rem;

//BreakPoints
$bp-phone: max-width 480px;
$bp-tablet: 967px;
$bp-desktop: 1024px;

//Border
$border-radius-base:4px;

