.slider{
	position: relative;

	img{
		display: block;
	}

	&_carousel{}

	&_controls{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		lost-center:1170px;
		width: 100%;
		lost-flex-container:row;
		justify-content: space-between;

		&_item{
			color: $color-white;
			background-color: $color-dark;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			padding-top: .7rem;
			line-height: 0;

			&:first-of-type i{
				display: inline-block;
				transform:rotate(180deg);
			}
		}
	}
}



.newsletter{
	background-color: $color-dark;
	margin-bottom: 2rem;

	.wrap{
		justify-content: space-between;
		align-items: center;
	}

	&_title{
		margin: 0;
		font-weight: normal;
		color: $color-white;
		margin-bottom: 1rem;
		@media (min-width: 820px) {
			margin-bottom: 0;
		}
	}
}



.aside{
	width: 100%;
	@media (min-width: 768px) {
		lost-column:1/4;		
	}
}

.menu-aside{
	background-color: $color-dark;
	padding: 2rem;
	lost-flex-container:row;
	margin-bottom: 2.5rem;
	@media (min-width: 768px) {
		max-width:250px;
	}

	&_title{
		margin: 0 0 1.5rem;
		color: $color-white;
		font-size: 1.8rem;
		border-bottom: 3px solid $color-light;
		padding-bottom: 1rem;
		width: 100%;
	}

	&_item{
		color: $color-white;
		font-size: 1.4rem;
		padding: .5rem;	
		lost-column:1/1;
		@media (min-width: 480px) {
			lost-column:1/2;
		}
		@media (min-width: 620px) {
			lost-column:1/3;
		}
		@media (min-width: 768px) {
			lost-column:1/1;
		}
	}
}



.content{
	width: 100%;
	@media (min-width: 768px) {
		lost-column:3/4;		
	}
}

.section{
	
	&_title{
		font-size: 2.3rem;
		color: $color-dark;
		display: block;
		text-align: center;
		position: relative;

		span{
			background-color: $color-white;
			padding-left: 1rem;
			padding-right: 1rem;
		}

		&:after{
			content:'';
			position: absolute;
			height: 2px;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background-color: $color-dark;
			z-index: -1;
		}
	}
}


.product-slider{
	position: relative;

	img{
		display: block;
	}

	.product_item{
		width: 100%;
		
		
	}

	&_controls{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		lost-center:1170px;
		width: 100%;
		lost-flex-container:row;
		justify-content: space-between;

		&_item{
			color: $color-white;
			background-color: $color-dark;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			padding-top: .7rem;
			line-height: 0;

			&:first-of-type i{
				display: inline-block;
				transform:rotate(180deg);
			}
		}
	}
}


.publish-content{
	lost-flex-container:row;
	

	&_item{
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
		@media (min-width: 480px) {
			lost-column:1/2;
			margin-bottom: 0;	
		}
	}
}