.input{
  border-radius: 5px;
  background-color: $color-white;
  border: none;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  color: $color-black;
  width: 100%;
  max-height: 48px;
}

.form-inline{

	.input{
		margin-bottom: 1rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		@media (min-width: 600px) {
			width: auto;
			display: inline-block;
			margin-bottom: 0;
		}
	}
}

.form{

	.input{
		margin-bottom: 1rem;
	}
}


.btn{
	border: none;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.4rem;
	color: $color-white;
	background-color: $color-light;
	border-radius: 5px;
	padding: 1rem 2rem;
}