.product{
	lost-flex-container:row;

	&_item{
		border: 1px solid #ccc;
		margin-bottom: 2rem;
		width: 100%;
		text-align: center;
		padding: 1.5rem;
		@media (min-width: 960px) {
			lost-column:1/3;
		}
	}
	&_image{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&_title{
		font-size: 1.4rem;
		color: $color-black;
		line-height: 1.2;
	}
	&_price{
		font-weight: bold;
		line-height: 1.2;
		color: $color-light;
		font-size: 1.8rem;

		small{
			display: block;
			font-size: 1.2rem;
			font-weight: bold;
			color: #242424;
			line-height: 1.2;
		}
	}
}

